<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Wrapper.MinecraftSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="common;"/>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="Command210" value="me is going to restart in 5 minutes" />
    <add key="Command211" value="me is going to restart in 1 minute" />
    <add key="Command212" value="me needs to restart cause I am too laggy" />
    <add key="Command220" value="op RenEvo" />
    <add key="Command221" value="op Acatera" />
  </appSettings>
  <applicationSettings>
    <Wrapper.MinecraftSettings>
      <setting name="Memory" serializeAs="String">
        <value>2048</value>
      </setting>
      <setting name="MinecraftVersion" serializeAs="String">
        <value>1.5.2</value>
      </setting>
      <setting name="ModPackName" serializeAs="String">
        <value>BurpTech</value>
      </setting>
      <setting name="ModProviderRoot" serializeAs="String">
        <value>https://github.com/RenEvo/BurpcraftModPack.git</value>
      </setting>
      <setting name="WebApiPort" serializeAs="String">
        <value>8080</value>
      </setting>
      <setting name="JarName" serializeAs="String">
        <value>minecraft_server.jar</value>
      </setting>
      <setting name="JavaPath" serializeAs="String">
        <value>c:\program files\java\jre7\bin\java.exe</value>
      </setting>
      <setting name="PermGen" serializeAs="String">
        <value>512</value>
      </setting>
    </Wrapper.MinecraftSettings>
  </applicationSettings>
  <!-- Logging -->
  <system.diagnostics>
    <sources>
      <source name="Default" switchName="sourceSwitch">
        <listeners>
          <add name="DefaultLog" />
          <add name="ConsoleLog" />
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="sourceSwitch" value="All" />
    </switches>
    <sharedListeners>
      <add name="DefaultLog" Location="Custom" CustomLocation="./Logs/" BaseFileName="default" MaxFileSize="52428800" LogFileCreationSchedule="Daily" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" />
      <add name="ConsoleLog" type="Wrapper.Diagnostics.ColorConsoleTraceListener, Wrapper" />
    </sharedListeners>
    <trace autoflush="true" indentsize="4" />
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>