<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <applicationSettings xdt:Transform="Replace">
    <Wrapper.MinecraftSettings>
      <setting name="JavaPath" serializeAs="String">
        <value>c:\program files\java\jre7\bin\java.exe</value>
      </setting>
      <setting name="Memory" serializeAs="String">
        <value>8192</value>
      </setting>
      <setting name="MinecraftVersion" serializeAs="String">
        <value>1.5.2</value>
      </setting>
      <setting name="ModPackName" serializeAs="String">
        <value>BurpTech</value>
      </setting>
      <setting name="ModProviderRoot" serializeAs="String">
        <value>C:\inetpub\burpcraft</value>
      </setting>
      <setting name="WebApiPort" serializeAs="String">
        <value>8080</value>
      </setting>
    </Wrapper.MinecraftSettings>
  </applicationSettings>
  <system.diagnostics>
    <switches xdt:Transform="Replace">
      <add name="sourceSwitch" value="All"/>
    </switches>
  </system.diagnostics>
</configuration>